<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/ico" href="assets/images/favicon.ico" />
    <title>Single Source - Task List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      {{{body}}}
      <p>This is a dumbed down front-end for the RESTful API back-end. It also has a proper Angular UI based front-end.</p>
    </div>
  </section>
  
  
	<footer class="footer">
	  <br /><br />
	  <div class="content has-text-centered">
		<p><a href="/"><img src="assets/images/Numeris.png" alt="Numeris Single Source - Task List" title="Numeris Single Source - Task List" /></a></p>
		<h1 class="title has-text-link">Single Source - Task List</h1>
		<p>
		   <a href="https://en.numeris.ca/"><strong>Numeris</strong></a> ​​ &copy; <span style="font-weight: bold;" id="currYear"></span>. All rights reserved.
		</p>
		<p> 
			<a href="/">Home</a> |  
			<a href="/services">Services</a> |  
			<a href="/about">About</a> |  
			<a href="/contact">Contact</a> 
		</p>
	  </div>
	</footer>  
	<script>
		document.getElementById("currYear").innerHTML = new Date().getFullYear() ;
	</script>
  
  </body>
</html>
